
@{
    ViewData["Title"] = "System Kolejkowy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Kolejka</h2>
        </div>
    </div>


</div>
