@model WebApp.Models.ApplicationSettings
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Ustawienia systemu</h2>
        </div>
    </div>


</div>