@model WebApp.Models.Queue
@{
    ViewData["Title"] = "System Kolejkowy";
}

<div class="backgroundWhite">
    <div class="row">
        <div>
            <div class="text-info">Lek. med. Aleksandra Kowal</div>
        </div>
    </div>

    <div class="row">

    </div>
</div>

