@model WebApp.Models.Queue
@{
    ViewData["Title"] = "System Kolejkowy";
}

<div class="backgroundWhite">


    <br />
    <br />

    <div class="row">
        <div class="container">
            <div class="text-info text-center font-weight-bolder" style="font-size: 300%;">Lek. med. Aleksandra Kowal</div>
        </div>
        <div class="container">
            <div class="text-dark text-center font-weight-light" style="font-size: 500%" id="QueueNo">@Model.QueueNoMessage</div>

        </div>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <div class="text-info" id="additionalInfo">@Model.AdditionalMessage</div>
        </div>
    </footer>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/queueServiceSlave.js"></script>