@model WebApp.Models.Queue
@{
    ViewData["Title"] = "System Kolejkowy";
}

<div class="backgroundWhite">

    <br />
    <br />

    <div class="row">
        <div class="container">
            <div class="text-info text-center font-weight-bolder" style="font-size: 300%;">Lek. med. Aleksandra Kowal</div>
        </div>
        <div class="container">
            <div class="text-dark text-center font-weight-light" style="font-size: 500%">@Model.QueueNoMessage</div>
        </div>
    </div>

    <div class="row">

    </div>
</div>

