@model WebApp.Models.Queue
@{
    ViewData["Title"] = "System Kolejkowy";
}

<div class="backgroundWhite">


    <br />
    <header>
        <div>
            <img class="col-2" src="~/img/logo_NFZ.png" />
        </div>
    </header>

    <div class="row">
       
        <div class="container">
            <div class="text-secondary text-center font-weight-bolder" style="font-size: 40px">Lek. med. Aleksandra Kowal</div>
        </div>
        <div class="container">
            <div class="text-dark text-center font-weight-light" style="font-size: 250px" id="QueueNo">@Model.QueueNoMessage</div>

        </div>

        <div class="container">
            <div class="col-3 offset-10">
                <img class="col-8" src="~/img/szybka_terapia_onkologiczna_CMYK_A4.jpg" />
            </div>
        </div>
    </div>

    

    <footer class="border-top footer">
        <div class="container">
            <div class="text-info" id="additionalInfo">@Model.AdditionalMessage</div>
        </div>
    </footer>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/queueServiceSlave.js"></script>