


<form method="post" asp-area="Admin" asp-controller="Rooms" asp-action="Create">
    <div class="container row">
        <div class="col-4">
            <p>blablabla</p>
            <input class="form-control" />
        </div>
    </div>
</form>