@{
    ViewData["Title"] = "Pomoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Jeśli napotkałeś problemy z aplikacją skontaktuj się z administratorem systemu.</p>
